<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
     {{>style}}
    </head>
    <body>
        {{> header}}
        <p>Some text here. Do not read This.
             This is not a part of the tutorial.</p>
    {{> footer}}
    </body>
</html>